elasticsearch>=8.9.0
openai
tiktoken
langchain
loguru
tqdm
numpy
streamlit
PyMuPDF==1.22.5
faiss-cpu
nltk~=3.8.1
unstructured[all-docs]>=0.10.4
streamlit_option_menu
spacy==3.6.1
streamlit_antd_components
pandas
jupyter_client
matplotlib
ipython
python-dotenv==1.0.0